a{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}


body{
    text-align: center;
    background-color: #e3fdfd;
    font-family: "Montserrat", sans-serif;
}

h3{
    color: #11999e;
}


hr{
    border-style: dotted none none none;
    width: 5%;
    border-color: grey;
    border-width: 5px;
    margin: auto;
    background-color: #e3fdfd;
}


.copyright-section{
    margin-top: 10px;
}

a:hover{
    color: #1E6CD0;    
}

.footer-link:hover{
    color: #eaf6f6
}

.footer-link{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

h2{
    color: #66bfbf;
}

p{
    color: #40514e;
}
h1{
    font-family: "Kalam", cursive;
    margin: 0 auto 0 auto;
    font-size: 570%;
    color: #66bfbf;
}

.top-container{
    position: relative;
    padding-top: 100px;
    background-color: #cbf1f5;
}

.middle-container{
    background-color: #e3fdfd;
}

.mid-cloud{
    position: absolute;
    top: 30px;
    left: 200px;
}

.middle-cloud{
    position: absolute;
    right: 300px;
}


.profile{
    width: 50%;
    margin: 40px auto;
}
.top-cloud{
    position: relative;
    top: 30px;
    right: 500px;
    
}


.heading23{
    font-weight: normal;
}
.bottom-cloud{
    position: absolute;
    /* left: 300px; */
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.bottom-container{
    background-color: #71c9ce;
    padding: 100px 0 20px;
    margin: auto;

}

.BUTTON_GYF {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #1E6CD0);
    background-image: -moz-linear-gradient(top, #66BFBF, #1E6CD0);
    background-image: -ms-linear-gradient(top, #66BFBF, #1E6CD0);
    background-image: -o-linear-gradient(top, #66BFBF, #1E6CD0);
    background-image: -webkit-gradient(to bottom, #66BFBF, #1E6CD0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_GYF:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
/* Change width of images in skills section to 25% of current */
/* Set a property to images "float: left" "margin-right: 30px" */
/* Alternate with next images */